*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: #414a60;
}
body{
    background: #f6f6f8;
    min-width: 1184px;
    line-height: 26px;
    color: #414a60;
    font-size: 14px;
}
.checkJob-container{
    
    width: 900px;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 30px;
}
li,ol,ul{
    list-style: none;
}
.item{
   
    width: 400px;
    clear:both;
    margin-bottom: 22px;
}
.sex{
    display: inline-block;
}
.radio{
    color: #000;
    position: relative;
    display: inline-block;
    margin-right: 20px;
}
.radio-btn{

    opacity: 0;
    outline: none;
    position: absolute;
    z-index: -1;
    left: -999px;
}

.radio-text{
    display: inline-block;
    border: 1px solid #bfcbd9;
    border-radius: 5px;
    background: #f4f4f4;
    font-size: 14px;
    padding: 5px 8px;
    transition: all 0.3s cubic-bezier(.645,.045,.355,1);
    line-height: 1;
    vertical-align: middle;
   
}
.radio-btn:checked+.radio-text{
    color: #fff !important;
    background-color: #22a1d6!important;
}
.job-lists{
    background: 0 0;

}
.job-lists li{
    height: 130px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 20px;
    background: #fff;
}
.job-item{
    height: 130px;
    box-sizing: border-box;
    padding: 0;
    color: #4a4160;
    margin: 0 30px;
    border-bottom: 1px #f2f2f5 solid;
    position: relative;
}
.job-info{
    width: auto;
    height: 70px;
    padding-top: 20px;
    float: none;
}
.job-wrapper{
    float: left;
    width: 460px;
    vertical-align: top;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.job-company{
    width: 350px;
    float: right;
    vertical-align: top;
}
.primary-box{
    display: inline-block;
    line-height: 26px;
}
.job-title{
    font-size: 0;
    max-width: 460px;
    color: #00c2b3;
    font-weight: 400;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}
.job-name{
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    float: left;
    max-width: 171px;
    margin-right: 10px;

}
a{
    text-decoration: none;
}
.job-name a{
    color: #00c2b3;
}
.job-area{
    margin-right: 10px;
    float: left;
}
.job-areaname{
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    float: left;
    max-width: 214px;
}
.job-limit{
    height: 26px;
    overflow: hidden;
}
.red{
    float: left;
    margin-right: 12px;
    height: 26px;
   
    line-height: 26px;
    position: relative;
    vertical-align: middle;
    color: #fc703e!important;
}
.job-limit p{
    float: left;
    font-size: 14px;
    margin-right: 13px;
    margin-top: 0;
    max-width: 169px;
    color: #61687c;
}
.vline{
    display: inline-block;
    width: 1px;
    height: 12px;
    vertical-align: middle;
    background: #e0e0e0;
    margin: 0 10px;
}
.info-publish{
    width: auto;
    text-align: left;
    float: left;
    padding: 0 10px;
    border: 1px solid #eee;
    border-radius: 12px;
    height: 21px;
    line-height: 21px;
    margin-top: 1px;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.name{
    font-weight: 400;
    height: 15px;
    line-height: 15px;
    max-width: 150px;
    color: #6c7388;
    font-size: 12px;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}
.info-publish:hover{
    border: 1px #5dd5c8 solid;
    background-color: #5dd5c8;
    
}
.info-publish:hover .name{
    color: #fff;
}
.company-text{
    width: auto;
    float: left;
    vertical-align: top;
}
.company-name{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 3px;
    height: 26px;
    line-height: 26px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.company-name a{
    color: #00c2b3;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 256px;
    height: 26px;
    display: inline-block;
    line-height: 26px;
}
.company-text p{
    color: #61687c;
    max-width: 270px;
    margin-top: 2px;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.company-text p a{
    color: #61687c;
}
.company-logo{
    float: right;
    width: 54px;
    height: 54px;
    border: 1px solid #f3f5fb;
    border-radius: 9px;
    vertical-align: top;
    margin-left: 23px;
}
.info-append{
    height: 40px;
    line-height: 40px;
    margin: 0 -30px;
    padding: 0 30px;
    background: #f8f9fc;
}
.info-left{
    float: left;
    width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 140px;
    font-size:13px;
    height: 40px;
}

.info-right{
    font-size: 20px;
    float: left;
    width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #61687c;
    text-align: center;
}
.info-right a{
    margin:0 20px;
}
.a-green{
    color: springgreen;
    }
    .a-red{
    color: red;
    }