*{
    padding: 0;
    margin: 0;
}
body{
    min-width: 1300px;
    color: #414a60;
    font-size: 14px;
}
a{
    text-decoration: none;
    color: #414a60;
}
.job-banner{
    width: 100%;
    
    height: auto;
    padding: 24px 0;
    background: #444c60;
    color: rgb(134, 102, 102);
}
.inner{
    padding: 0 15px;
    width: 1184px;
    max-width: 1184px;
    margin: 0 auto;
}
.inner::after{
    content: '';
    display: block;
    overflow: hidden;
    visibility: hidden;
    clear: both;
}
.job-primary{
    border: none;
    height: auto;
    padding: 0;
    margin: 0;
    color: #4a4160;
    position: relative;
}
.job-primary::after{
    content: '';
    display: block;
    overflow: hidden;
    visibility: hidden;
    clear: both;
}
.info-primary{
    width: 650px;
    float: left;
}
.job-status{
    color: rgba(255,255,255,.7);
    font-size: 14px;
    line-height: 20px;
}
.job-status span{
    vertical-align: middle;
    color: #fff;
    background: #00d7c6;
}
.redspan{
   
    background: red !important;
}
.job-name{
    font-size: 32px;
    line-height: 45px;
    padding: 11px 0 8px;
    color: #fff;
    font-weight: 400;
}
.job-name h1{
    vertical-align: middle;
    font-size: 32px;
    max-width: 380px;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    font-weight: 400;
    margin-right: 10px;
    line-height: 35px;
    overflow: hidden;
}
.salary{
    display: inline-block;
    vertical-align: middle;
    color: #fa6a43;
    height: 42px;
    font-size: 30px;
    line-height: 42px;
    font-weight: 600;
    
}
.info-primary p{
    color: rgba(255,255,255,.7);
    margin-bottom: 10px;
}
.text-city{
    color: rgba(255,255,255,.7);
}
.dolt{
    display: inline-block;
    vertical-align: middle;
    width: 2px;
    height: 2px;
    margin: 0 7px;
    border-radius: 50%;
    background-color: rgba(255,255,255,.7);
}
.job-op{
    width: 298px;
    position: absolute;
    right: 0;
    top: 50%;
    bottom: 0;
    margin-top: -47px;
}
.communicate-btn{
    font-size: 0;
}
.job-btn{
    display: inline-block;
    height: 45px;
    line-height: 45px;
    box-sizing: border-box;
    width: 296px;
    margin-top: 0;
    float: none;
    min-width: 112px;
    border: 1px #5dd5c8 solid;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    background: #5dd5c8;
    text-align: center;
    cursor: pointer;
}
.half-red{
    display: inline-block;
    height: 45px;
    line-height: 45px;
    box-sizing: border-box;
    width: 100px;
    margin-top: 0;
    float: none;
    min-width: 112px;
    border: 1px red solid;
    font-size: 16px;
    color: #fff;
    margin-right: 30px;
    letter-spacing: 1px;
    background: red;
    text-align: center;
    cursor: pointer;
}
.half-green{
    display: inline-block;
    height: 45px;
    line-height: 45px;
    box-sizing: border-box;
    width: 100px;
    margin-top: 0;
    margin-right: 30px;
    float: none;
    min-width: 112px;
    border: 1px #5dd5c8 solid;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    background: #5dd5c8;
    text-align: center;
    cursor: pointer;
}
.job-btn:hover{
    background: #6fd6cc;
}
.job-box{
    margin-top: 30px;
}
.red{
    display: inline-block;
    height: 45px;
    line-height: 45px;
    box-sizing: border-box;
    width: 296px;
    margin-top: 0;
    float: none;
    min-width: 112px;
    border: 1px red solid;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    background: red;
    text-align: center;
    cursor: pointer;
}
.job-box-inner{
    width: 1184px;
    max-width: 1184px;
    margin: 0 auto;
}
.job-company{
    float: right;
    width: 284px;
    padding-bottom: 40px;
}
.job-detail{
    position: relative;
    padding-right: 25px;
    border-right: 1px #f5f7f9 solid;
    margin-right: 322px;
    padding-bottom: 45px;
    min-height: 813px;
}
.detail-op{
    float: left;
    width: 100%;
    padding-top: 0;
    margin-bottom: 10px;
}
.detail-figure{
    float: left;
    position: static;
    top: -62px;
    left: 0;
}
.detail-figure img{
    margin-right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    vertical-align: top;
}
.detail-personname{
    margin-top: 5px;
    font-size: 20px;
    color: #424a5e;
    font-weight: 400;
}
.grey{
    line-height: 26px;
    font-size: 14px;
    color: #9fa3af;
}
.detail-content{
    clear: left;
    line-height: 26px;
    color: #414a60;
    font-size: 14px;
}
.job-sec{
    position: relative;
}
.job-sec h3{
    font-weight: 700;
    font-size: 15px;
    color: #424a5e;
    line-height: 50px;
    padding: 0 0 10px 0;
    margin-bottom: 0;
   
}
.line{
    position: absolute;
    width: 60px;
    content: "";
    border-bottom: 3px solid #6fd6cc;
    left: 0;
    top: 40px;
}
.job-sec-text{
    word-break: break-all;
    color: #61687c;
    line-height: 36px;
}
.company-title{
    line-height: 25px;
    margin-bottom: 25px;
    font-size: 15px;
    font-weight: 500;
    color: #414a60;
}
.company-info{
    overflow: hidden;
    line-height: 60px;
    margin-bottom: 27px;
}
.company-logo img{
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 18px;
    border-radius: 10px;
}
.company-name:hover{
color: #00d7c6;;
}
.right-company{
    line-height: 20px;
    margin-bottom: 26px;
}
.game-container{
    margin-top: 20px;
    margin-bottom: 10px;
}
li,ol,ul{
    list-style: none;
}

.game-list{
    height: 130px;
    cursor: pointer;
    margin-bottom: 10px;
    background: #fff;
}
.game-list-person{
    height: 100px;
    cursor: pointer;
    margin-bottom: 10px;
    background: #fff;
}
.job-item-person{
    height: 100px;
    box-sizing: border-box;
    padding: 0;
    color: #4a4160;
    margin: 0 30px;
    border-bottom: 1px #f2f2f5 solid;
    position: relative;
}

.job-info-person{
    width: auto;
    height: 40px;
    padding-top: 20px;
    float: none; 
}
.job-wrapper-person{
    float: left;
    width: 350px;
    vertical-align: top;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.job-company-person{
    width: 350px;
    float: right;
    vertical-align: top;
}
.primary-box-person{
    display: inline-block;
    line-height: 26px;
}
.job-title-person{
    font-size: 0;
    max-width: 460px;
    color: #00c2b3;
    font-weight: 400;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}
.job-name-person{
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    float: left;
    max-width: 171px;
    margin-right: 10px;

}
.job-name-person a{
    color: #00c2b3;
}
.job-area-person{
    margin-right: 10px;
    float: left;
}
.job-areaname-person{
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    float: left;
    max-width: 214px;
}
.resume{
    float: right;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 3px;
    height: 26px;
    line-height: 26px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.resume a{
    color: #fc703e;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 256px;
    height: 26px;
    display: inline-block;
    line-height: 26px; 
}
.info-append{
    height: 40px;
    line-height: 40px;
    margin: 0 -30px;
    padding: 0 30px;
    background: #f8f9fc;
}
.info-left{
    float: left;
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 140px;
    font-size:13px;
    height: 40px;
}
.info-right{
    font-size: 20px;
    float: right;
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #61687c;
    text-align: center;
}
.info-right a{
    margin:0 20px;
}
.a-green{
color: springgreen;
}
.a-red{
color: red;
}
.a-grey{
    display: inline-block;
    height: 45px;
    line-height: 45px;
    box-sizing: border-box;
    width: 296px;
    margin-top: 0;
    float: none;
    min-width: 112px;
    border: 1px gray solid;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    background: gray;
    text-align: center;
    cursor: pointer;
}