*{
    padding: 0;
    margin: 0;
}
body{
    background:     #f6f6f8;
    line-height: 26px;
    color: #414a60;
    font-size: 14px;
}
.login-container{
    height: 500px;
    width: 800px;
    padding: 0;
    background: #fff;
    box-shadow: 0 6px 13px 0 rgba(0,0,0,.1);
    border-radius: 10px;
    margin: auto;
    margin-top: 100px;

}
.title{
	display: flex;
}

.login-box{
    position: relative;
    width: 344px;
  
    margin: 0 auto;
}

.box-title{
    padding-top: 100px;
    font-size: 24px;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
}
.box-title::before, .box-title::after{
    content: '';
    display: inline-block;
    vertical-align: 8px;
    margin: 0 10px;
    width: 50px;
    height: 1px;
    background: #d1d4db;
}
.login-form{
    padding: 0;
    margin: 0;
}
.login-item{
    margin: 0 0 24px;
    z-index: 10;
}
.login-input{
    width: 324px;
    min-width: 0;
    padding: 9px 9px;
    vertical-align: middle;
    min-height: 22px;
    line-height: 22px;
    border: 1px solid #e3e7ed;
    font-size: 13px;
}
.login-input:hover{
    border-color:  #53cac3;
}
.login-input:focus{
    border-color:  #53cac3;
    outline: 0;
}
.login-btn{
    margin-top: 30px;
}
.login-submit{
    width: 100%;
    font-size: 16px;
    height: 42px;
    line-height: 42px;
    border: none;
    cursor: pointer;
    min-width: 112px;
    box-sizing: content-box;
    color: #fff;
    letter-spacing: 1px;
    background:#5dd5c8;
    text-align: center;
}
.login-submit:hover{
	background: #6fe0d5;
}
.login-submit:focus{
    outline: none;
}

.login-box{
	    padding-top: 50px;
		color: #5dd5c8;
	    font-size: 36px;
	    text-align: center;
	    position: relative;
	    margin-bottom: 30px;
	
}

.isShow{
    display: none;
}
.alert-text{
    font-size: 14px;
    line-height: 20px;
    color: #6b6969;
    width: 344px;
    margin: 0 auto;
}

