* {
    padding: 0;
    margin: 0;
}
.box img{
    object-fit: contain;
}
.box1 {
    float: left;
    width: 20%;
    height: 410px;

    transition: width 0.25s;

}
.box2 {
    float: left;
    width: 20%;
    height: 410px;

    transition: width 0.25s;

}
.box3 {
    float: left;
    width: 20%;
    height: 410px;

    transition: width 0.25s;


}
.box4 {
    float: left;
    width: 20%;
    height: 410px;

    transition: width 0.25s;

}
.box {
    width: 100%;
    height: 410px;
    margin-top: 170px ;

    border: 1px solid #ddd;
    overflow: hidden;
}
.function-text1{
    top: 14%;
    left: 43%;
    font-family:"楷体";
    font-size:36px;
    position: absolute;
    text-align:center;
}
.function-text2{
    top: 19%;
    left: 45%;
    font-family:"楷体";
    color:#808A87;
    font-size:25px;
    position: absolute;
    text-align:center;
}


.box1:hover {
    width: 40%;

}
.box1:not(:hover) {
    width: 20%;
}
.box2:hover {
    width: 40%;
}
.box2:not(:hover) {
    width: 20%;
}
.box3:hover {
    width: 40%;
}
.box3:not(:hover) {
    width: 20%;
}
.box4:hover {
    width: 40%;
}
.box4:not(:hover) {
    width: 20%;
}

