*{
    padding: 0;
    margin: 0;
}

.item{
    margin: 0 auto;
 
    width: 330px;
    clear:both;
    margin-bottom: 22px;
    margin-top: 22px;
}
.info-text{
    width: 95px;
    text-align: right;
    margin-right: 20px;
    
    line-height: 30px;
    cursor: default;
}
.info-input{
    
    width: 225px;
    height: 30px;
    margin-right: 40px;
    appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #bfcbd9;
    box-sizing: border-box;
    color: #1f2d3d;
    font-size: inherit;
    line-height: 1;
    outline: 0;
    padding: 3px 10px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
}

.info-input:hover{
    border-color: #8391a5;
}
.info-input:focus{
    outline: 0;
    border-color: #20a0ff;
}

/*伪元素撑开表单*/
.userInfo-form::after{
    content: ".";
    display: block;
    height: 0;
  
    visibility: hidden;
 
}
.userInfo-form{
    display: block;
   
    margin:auto;
    padding:0;
 
}
.userInfo-container{
    padding: 20px 20px 0;
    position: relative;
    display: block;
    clear:both;
}
.info-btn-box{
    float: left;
    width: 350px;
    height: 36px;
    position: relative;
}
.info-line{
    width: 350px;
    height: 39px;
    border-bottom: 1px solid #e5e9ef;
    margin-bottom: 40px;
}
.info-btn{
    font-size: 14px;
    width: 110px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #00a1d6!important;
    color: #fff;
    border:1px solid #20a0ff;
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    padding: 10px 15px;
    box-sizing: border-box;
    border-radius: 4px;
    outline: 0;
    text-align: center;
}
.info-btn:hover{
    background-color: #00b5e5!important;
}
.registerSteps{
    width: 100%;
    height: 50px;
    margin: 0 auto;
    padding-top: 60px;
}
.step{
    position: relative;
    float: left;
    width: 33.333%;
    color: #cdcdcd;
    text-align: center;
}
.step .number{
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto 10px;
}
.step .line{
    position: absolute;
    height: 2px;
    width: calc(100% - 43px);
    background: #f2f2f2;
    top: 21px;
    left: calc(50% + 22px);
}
.currentstep{
    color: #2c82ff;
}
.currentstep .line{
    background: #2c82ff;
}
.currentstep .number{
    border: 2px solid  #2c82ff;
    background-color: #2c82ff ;
}
.box-title{
    margin-top: 24px;
    font-size: 24px;
    text-align: center;
    position: relative;
    margin-bottom: 24px;
}
.box-title::before, .box-title::after{
    content: '';
    display: inline-block;
    vertical-align: 8px;
    margin: 0 10px;
    width: 50px;
    height: 1px;
    background: #d1d4db;
}