*{
    padding: 0;
    margin: 0;
}

.item{
    float: left;
    width: 789px;
    clear:both;
    margin-bottom: 22px;
}
.info-text{
    width: 95px;
    text-align: right;
    margin-right: 20px;
    float: left;
    line-height: 30px;
    cursor: default;
}
.info-input{
    float: left;
    width: 225px;
    height: 30px;
    margin-right: 40px;
    appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #bfcbd9;
    box-sizing: border-box;
    color: #1f2d3d;
    font-size: inherit;
    line-height: 1;
    outline: 0;
    padding: 3px 10px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
}

.info-input:hover{
    border-color: #8391a5;
}
.info-input:focus{
    outline: 0;
    border-color: #20a0ff;
}
.info-textarea{
    float: left;
    width: 618px;
    height: 88px;
    resize: none;
    display: block;
    color: #1f2d3d;
    padding: 5px 7px;
    line-height: 1.5;
    font-size: 14px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #bfcbd9;
    border-radius: 4px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
}
.info-textarea:hover{
    border-color: #8391a5;
}
.info-textarea:focus{
    outline: 0;
    border-color: #20a0ff;
}
.box-title{
    font-size: 24px;
    text-align: center;
    position: relative;
    margin-bottom: 24px;
}
.box-title::before, .box-title::after{
    content: '';
    display: inline-block;
    vertical-align: 8px;
    margin: 0 10px;
    width: 50px;
    height: 1px;
    background: #d1d4db;
}
.sex{
    display: inline-block;
}
.radio{
    color: #000;
    position: relative;
    display: inline-block;
    margin-right: 20px;
}
.radio-btn{

    opacity: 0;
    outline: none;
    position: absolute;
    z-index: -1;
    left: -999px;
}
.radio-btn:checked+.radio-text{
    color: #fff;
    background-color: #22a1d6!important;
}
.radio-text{
    display: inline-block;
    border: 1px solid #bfcbd9;
    border-radius: 5px;
    background: #f4f4f4;
    font-size: 14px;
    padding: 5px 8px;
    transition: all 0.3s cubic-bezier(.645,.045,.355,1);
    line-height: 1;
    vertical-align: middle;
}


.info-btn-box{
    float: left;
    width: 789px;
    height: 36px;
    position: relative;
}
.info-line{
    width: 789px;
    height: 39px;
    border-bottom: 1px solid #e5e9ef;
    margin-bottom: 40px;
}
.info-btn{
    font-size: 14px;
    width: 110px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #00a1d6!important;
    color: #fff;
    border:1px solid #20a0ff;
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    padding: 10px 15px;
    box-sizing: border-box;
    border-radius: 4px;
    outline: 0;
    text-align: center;
}
.info-btn:hover{
    background-color: #00b5e5!important;
}
/*伪元素撑开表单*/
.info-form::after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
 
}
.info-form{
    display: block;
    clear:both;
    margin:0;padding:0;
 
}
.info-container{
    padding: 20px 20px 0;
    position: relative;
    display: flex;
    justify-content: center;
    clear:both;
}